<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bia.bodhinew">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.bia.bodhinew.Student.test"></activity>
        <activity android:name="com.bia.bodhinew.School.Notice_post"></activity>
        <activity android:name=".ChangePassword"></activity>
        <activity android:name=".OTP" ></activity>
        <activity android:name=".Forgot_Password" ></activity>
        <activity android:name=".choose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bia.bodhinew.School.Master_activity">

        </activity>
        <activity android:name="com.bia.bodhinew.Student.MasterStudentActivity">

        </activity>
        <activity android:name="com.bia.bodhinew.Student.HomePage">

        </activity>

        <activity android:name="com.bia.bodhinew.Student.RegisterActivity">

        </activity>

        <activity android:name="com.bia.bodhinew.Student.UpdateCredentials"></activity>
        <activity
            android:name="com.bia.bodhinew.Student.LoginActivity">


        </activity>

        <activity android:name="com.bia.bodhinew.School.LoginActivitySchool" ></activity>

        <activity android:name="com.bia.bodhinew.School.RegisterActivitySchool" >


        </activity>

        <activity android:name="com.bia.bodhinew.Student.SuccessfulLogin" />
        <activity android:name="com.bia.bodhinew.Student.AfterGoogleSignIn" />
        <activity android:name="com.bia.bodhinew.Student.GoogleSignInActivity" >

        </activity>

    </application>

</manifest>