<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bia.bodhinew">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Student.Previously_watched"></activity>
        <activity android:name=".Mail_send_otp" />
        <activity android:name=".Student.test" />
        <activity android:name=".School.Notice_post" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".OTP" />
        <activity android:name=".Forgot_Password" />
        <activity android:name=".choose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".School.Master_activity" />
        <activity android:name=".Student.MasterStudentActivity" />
        <activity android:name=".Student.HomePage" />
        <activity android:name=".Student.RegisterActivity" />
        <activity android:name=".Student.UpdateCredentials" />
        <activity android:name=".Student.LoginActivity" />
        <activity android:name=".School.LoginActivitySchool" />
        <activity android:name=".School.RegisterActivitySchool" />
        <activity android:name=".Student.SuccessfulLogin" />
        <activity android:name=".Student.AfterGoogleSignIn" />
        <activity android:name=".Student.GoogleSignInActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bia.bodhi.provider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>